body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.card
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 400px;
}
.card .front
{
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    transition: .5s;
    transform-origin: right;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/3ad89154827733.596dc6164dbd1.gif");
}
.location
{
    font-weight: bold;
    width: 50%;
    text-align: left;
    float: left;
    color: #fff;
    text-shadow: 2px 2px 2px gray;
}
.more
{
    width: 50%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 24px;
    color: #fff;
    display: block;
    text-shadow:    2px 2px 2px gray;

}
.weather
{
    padding: 50px 0 20px;
    text-align: center;
}
.weather .fa
{
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 2px gray;

}
.weather h1
{
    margin: 0;
    padding: 0;
    font-size: 56px;
    text-shadow: 2px 2px 2px gray;

    color: #fff;
    line-height: 26px;
}
.weather h1 span
{
    font-size: 20px;
}
.forecast
{
    margin: 0;
    padding: 0;
}
.forecast li
{
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    color: #fff;    text-shadow: 2px 2px 2px gray;

}
.forecast li:last-child
{
    border-bottom: none;
}
.forecast li .day
{
    width: 50%;
}
.forecast li .temperature
{
    width: 50%;
    text-align: right;
}
.card .back
{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    transform-origin: left;
    transition: .5s;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/5b500254827733.596dc6164ee44.gif');
}
.go-back
{
    font-size: 24px;
    color: #fff;
    text-align: right;    text-shadow: 2px 2px 2px gray;

}
.go-back .fa
{
    cursor: pointer;
}